.footerLink {
    width: max-content;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    cursor: pointer;
}

.footerLink-text {
    color: var(--white-100);
    font-size: var(--font--2);
    font-weight: 400;
}

.footerLink-svg {
    width: 8px;
    align-self: end;
}
