.explore{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 32px;
}

.explore-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    overflow: scroll;
}

.explore-nav>p{
    width: max-content;
    white-space: nowrap;
    padding: 8px 16px;
    background: rgba(165, 165, 165, 0.16);
    backdrop-filter: blur(5px);
    font-size: var(--font--2);
    color: var(--white-200);
    cursor: pointer;
    border-radius: 16px;
}


.explore-div{
    width: 100%;
    
}