.explore {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 32px;
}

.explore-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    overflow: scroll;
    text-transform: capitalize;
}

.explore-nav>p {
    width: max-content;
    white-space: nowrap;
    padding: 8px 16px;
    background: rgba(165, 165, 165, 0.16);
    backdrop-filter: blur(5px);
    font-size: var(--font--2);
    color: var(--white-200);
    cursor: pointer;
    border-radius: 16px;
}

.explore-movies {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.explore-div {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    overflow: hidden;
    position: relative;
}

.explore-div::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--black-700) 100%);
    position: absolute;
    z-index: 1;
}

.explore-div .secondaryButton {
    position: absolute;
    bottom: 32px;
    z-index: 2;
}